@using PropertyManagement.Web.ViewModels
@model DeleteModalViewModel

<button type="button" class="btn btn-outline-danger btn-sm" title="@Model.Title" onclick="openDeleteModal(@Model.EntityId, '@Model.Action', '@Model.Controller', '@Html.Raw(Model.Body.Replace("'", "\\'"))', '@Model.Title')">
  <i class="bi bi-trash"></i>
</button>